{% extends 'manage.html' %}
{% load static crispy_forms_tags %}
{% block page_title %} | Add{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}

<div class="mb-3 align-items-center d-flex flex-row justify-content-between">
  <h3>New Event</h3>
</div>

<form method="post" action="{% url 'add_event' show_id=active_show.id %}" enctype="multipart/form-data">
  {% csrf_token %}
{{ talent_form|crispy }}
<input class="btn btn-success" type="submit" value="Add"/>
<a class="btn btn-secondary" href="{% url 'manage_show' show_id=active_show.id %}">Cancel</a>
</form>

{% endblock %}