{% extends 'base.html' %}

{% block opengraph %}
    {% if next_event %}
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{next_event.name}}" />
        <meta property="og:url" content="{{request.scheme}}://{{request.META.HTTP_HOST}}{% url 'show_event' next_event.id %}" />
        <meta property="og:description" content="{{next_event.summary}}" />
        {% if next_event.poster %}<meta property="og:image" content="{{request.scheme}}://{{request.META.HTTP_HOST}}{{next_event.poster.url}}" />
        {% elif next_event.show.banner %}<meta property="og:image" content="{{request.scheme}}://{{request.META.HTTP_HOST}}{{next_event.show.banner.url}}" />
        {% endif %}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block content %}
        <section class="page-section clearfix">
            <div class="container">
                {% if next_event %}
                <div class="intro">
                    {% if next_event.poster or next_event.show.banner %}
                        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{next_event.poster_url}}" width="512" alt="..." />
                    {% else %}
                        <div class="intro-img" style="min-height: 256px"></div>
                    {% endif %}
                    <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                        <h2 class="section-heading">
                            <span class="section-heading-upper">Coming up Next:</span>
                            <span class="section-heading-lower">{{next_event.name}}</span>
                        </h2>
                        <div class=""><b>{{next_event.start_time|date}}</b> at <b>{{next_event.venue}}</b></div>

                        <p class="mb-3">{{next_event.summary|safe}}</p>
                        {% if next_event.performers %}
                        <h3 class="section-heading mb-4">
                            <span class="section-heading-upper">Starring:</span>
                        </h3>
                        <div class="container">
                            <div class="row">
                                {% for performer in next_event.performers %}
                                <div class="mb-4 col-4">
                                    <a class="dark-link" href="{% url 'profile' performer.id %}">
                                    <img class="rounded mr-1" src="{{performer.avatar_icon}}" onerror="this.src=\'/static/default-user.png\';" height="64" width="64" />
                                    <div>{{performer.name}}</div>
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                        {% if next_event.venmo or next_event.cashapp or next_event.show.venmo or next_event.show.cashapp %}
                        <div class="mb-4">
                            <h3>Virtual Tips:</h3>
                            {% if next_event.venmo %}
                                <a class="btn btn-success" href="https://venmo.com/{{next_event.venmo}}/" target="venmo">Venmo</a>
                            {% elif next_event.show.venmo %}
                                <a class="btn btn-success" href="https://venmo.com/{{next_event.show.venmo}}/" target="venmo">Venmo</a>
                            {% endif %}
                            {% if next_event.cashapp %}
                                <a class="btn btn-success" href="https://cash.app/{{next_event.cashapp}}/" target="cashapp">CashApp</a>
                            {% elif next_event.show.cashapp %}
                                <a class="btn btn-success" href="https://cash.app/{{next_event.show.cashapp}}/" target="cashapp">CashApp</a>
                            {% endif %}
                        </div>
                        {% endif %}
                        <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="{% url 'show_event' next_event.id %}">Join Us!</a></div>
                    </div>
                </div>
                {% else %}
                <div class="row justify-content-center">
                    <div class="intro-text left-0 text-center bg-faded p-5 rounded col-6">
                        <h2 class="section-heading">
                            <span class="section-heading-upper">No Scheduled Events</span>
                            <span class="section-heading-lower">Check back with us later!</span>
                        </h2>
                    </div>
                </div>
                {% endif %}
            </div>
        </section>
        <!-- <section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <div class="cta-inner bg-faded text-center rounded">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">Call To Action</span>
                                <span class="section-heading-lower">Do it now</span>
                            </h2>
                            <p class="mb-0">Use this section to give a call to action, prompt viewers of the site to do something.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
{% endblock %}