{% extends 'base.html' %}

{% block title %}Performers - {{block.super}}{% endblock %}

{% block page_header %}
<header>
    <h1 class="site-heading text-center text-faded d-none d-lg-block">
        <span class="site-heading-lower text-primary mb-3">Our Performers</span>
    </h1>
</header>
{% endblock %}

{% block content %}
<div class="container" style="width:80%">
    <div class="row">
    {% for performer in performers %}
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <a class="dark-link" href="{% url 'profile' performer.id %}">
            <div class="card mb-3">
                {% if performer.avatar %}
                    <img class="rounded" src="{{performer.avatar.url}}" alt="..." />
                {% endif %}
                <div class="profile-text left-0 text-center bg-faded p-5 rounded">
                    <h3>{{performer.name}}</h3>
                </div>
            </div>
            </a>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}